# Ignore the tests dirs/files
+fnirs1/tests
+fnirs1/test_*
+fnirs1/include/old
+fnirs/demo/_fnirs*

# Ignore compiled files and Makefile
+fnirs1/*.mexmaci64
+fnirs1/*.cpp
+fnirs1/include/*.o
+fnirs1/include/Makefile


# Ignore Mac specific files
.DS_Store
*/.DS_Store
+fnirs1/*/.DS_Store

# Ignore non-software files
data
example
fNIRS_dev
fNIRS_zip
fNIRS1beta-0.3
